<!DOCTYPE html>
<html data-th-fragment="common(title, content, current)" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Utility Objects | [[${title}]]</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

	<nav class="navbar navbar-expand navbar-dark bg-primary">
		<div class="container">
			<span class="navbar-brand">Utility Object</span>
			
			<ul class="navbar-nav">
				<li data-th-replace="~{/fragments/menus :: menuItem('Home', @{/}, ${current == 'home' ? 'active' : _})}"></li>
				<li data-th-replace="~{/fragments/menus :: menuItem('Date & Time', @{/dates}, ${current == 'dates' ? 'active' : _})}"></li>
				
				<li class="nav-item dropdown">
					<a href="#" data-th-classappend="${#strings.startsWith(current, 'basic') ? 'active' : _}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Basic Data Types</a>
					
					<ul class="dropdown-menu">
						<li><a data-th-href="@{/objects}" data-th-classappend="${#strings.endsWith(current, 'object') ? 'active' : _}" class="dropdown-item">Objects</a></li>
						<li><a data-th-href="@{/bools}" data-th-classappend="${#strings.endsWith(current, 'bools') ? 'active' : _}" class="dropdown-item">Boolean</a></li>
						<li><a data-th-href="@{/numbers}" data-th-classappend="${#strings.endsWith(current, 'numbers') ? 'active' : _}" class="dropdown-item">Numbers</a></li>
						<li><a data-th-href="@{/strings}" data-th-classappend="${#strings.endsWith(current, 'strings') ? 'active' : _}" class="dropdown-item">Strings</a></li>
					</ul>
				</li>
				
				<li data-th-replace="~{/fragments/menus :: menuItem('Collections', @{/collections}, ${current == 'collections' ? 'active' : _})}"></li>
				<li data-th-replace="~{/fragments/menus :: menuItem('Other Utilis', @{/others}, ${current == 'others' ? 'active' : _})}"></li>
			</ul>
		</div>
	</nav>
	
	<div class="container pt-4">
		<h3 data-th-text="${title}"></h3>
		
		<div data-th-replace="${content}"></div>
	</div>

</body>
</html>