<!DOCTYPE html>
<html data-th-replace="~{/fragments/layout :: common('String Types', ~{strings :: main}, 'basic,strings')}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<main class="container">
		<table class="table border mt-5">
			<thead class="bg-info">
				<tr>
				<td>About</td>
				<td>Expression</td>
				<td>Arg Values</td>
				<td>Output</td>
			</tr>
			</thead>
			<tbody>
				<tr th:with="message='Hello Thymeleaf'">
					<td rowspan="2">Is Empty String</td>
					<td rowspan="2">${#strings.isEmpty(message)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.isEmpty(message)}"></td>
				</tr>
				
				<tr th:with="message=''">
					<td th:text="${message}"></td>
					<td th:text="${#strings.isEmpty(message)}"></td>
				</tr>
				
				<tr th:with="message='Hello Thymeleaf'">
					<td>Length of String</td>
					<td>${#strings.length(message)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.length(message)}"></td>
				</tr>
				
				<tr th:with="message='Hello Thymeleaf',search='hello'">
					<td>Contains</td>
					<td>${#strings.contains(message, search)}</td>
					<td th:text="|message=${message}, search=${search}|"></td>
					<td th:text="${#strings.contains(message, search)}"></td>
				</tr>
				
				<tr th:with="message='Hello Thymeleaf',search='hello'">
					<td>Contains but Ignore</td>
					<td>${#strings.containsIgnoreCase(message, search)}</td>
					<td th:text="|message=${message}, search=${search}|"></td>
					<td th:text="${#strings.containsIgnoreCase(message, search)}"></td>
				</tr>
				
				<tr th:with="message=''">
					<td rowspan="2">Default String</td>
					<td>${#strings.defaultString(message, 'There is no messages.')}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.defaultString(message, 'There is no messages.')}"></td>
				</tr>
				
				<tr th:with="message='Hey There!'">
					<td>${#strings.defaultString(message, 'There is no messages.')}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.defaultString(message, 'There is no messages.')}"></td>
				</tr>
				
				<tr>
					<td>Escape XML</td>
					<td>${#strings.escapeXml(escapeXML)}</td>
					<td th:text="${escapeXML}"></td>
					<td th:text="${#strings.escapeXml(escapeXML)}"></td>
				</tr>
				
				<tr>
					<td>Escape Java</td>
					<td>${#strings.escapeJava(escapeString)}</td>
					<td th:text="${escapeString}"></td>
					<td th:text="${#strings.escapeJava(escapeString)}"></td>
				</tr>
				
				<tr>
					<td>Escape JavaScript</td>
					<td>${#strings.escapeJavaScript(escapeString)}</td>
					<td th:text="${escapeString}"></td>
					<td th:text="${#strings.escapeJavaScript(escapeString)}"></td>
				</tr>
				
				<tr th:with="message='To Be With You'">
					<td>Abbreviate String</td>
					<td>${#strings.abbreviate(message, 10)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.abbreviate(message, 10)}"></td>
				</tr>
				
				<tr th:with="message='to be with you'">
					<td>Capitalize</td>
					<td>th:text="${#strings.capitalize(message)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.capitalize(message)}"></td>
				</tr>
				
				<tr th:with="message='to be with you'">
					<td>Capitalize Words</td>
					<td>th:text="${#strings.capitalizeWords(message)}"</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.capitalizeWords(message)}"></td>
				</tr>
				
				<tr th:with="message='hello thymeleaf spring-mvc'">
					<td>Capitalize Words</td>
					<td>${#strings.capitalizeWords(#strings.capitalizeWords(message, '-'))}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.capitalizeWords(#strings.capitalizeWords(message, '-'))}"></td>
				</tr>
				
				<tr th:with="folder='/resouces/images/',image='product1.png'">
					<td>Prepand</td>
					<td>${#strings.prepend(image, folder)}</td>
					<td th:text="|folder=${folder},image=${image}|"></td>
					<td th:text="${#strings.prepend(image, folder)}"></td>
				</tr>
				
				<tr th:with="message='0123456789'">
					<td>Sub String Before</td>
					<td>${#strings.substringBefore(message, 8)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.substringBefore(message, 8)}"></td>
				</tr>
				
				<tr th:with="message='0123456789'">
					<td>Sub String After</td>
					<td>${#strings.substringAfter(message, 8)}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.substringAfter(message, 8)}"></td>
				</tr>
				
				<tr th:with="message='hello java and javascript'">
					<td>Replacing</td>
					<td>${#strings.replace(message, 'j', 'J')}</td>
					<td th:text="${message}"></td>
					<td th:text="${#strings.replace(message, 'j', 'J')}"></td>
				</tr>
				
				<tr th:with="list=${#strings.listSplit('Java Spring Thymeleaf Angular', ' ')}">
					<td>Split And Join</td>
					<td>${#strings.listJoin(list, ', ')}</td>
					<td>
						<ul>
							<li th:each="item : ${list}" th:text="${item}"></li>
						</ul>
					</td>
					<td th:text="${#strings.listJoin(list, ', ')}"></td>
				</tr>
				
				<tr>
					<td>Generate String</td>
					<td>Random Alpha Numeric</td>
					<td>${#strings.randomAlphanumeric(8)}</td>
					<td th:text="${#strings.randomAlphanumeric(8)}"></td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>