<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Fragments</title>
</head>
<body>
	<h1 id="title">Using Thymeleaf Template Engine</h1>
	
	<nav>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a data-th-href="@{/}" class="nav-link">Standard Dialects</a>
			</li>
			<li class="nav-item">
				<a data-th-href="@{/html5}" class="nav-link">HTML5 Friendly Markup</a>
			</li>
			<li>
				<a data-th-href="@{/out-text}" class="nav-link">Output Text</a>
			</li>
		</ul>
	</nav>
</body>
</html>